<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absenku</title>
    <link rel="icon" href="../public/large-removebg-preview.png" />
    <link rel="stylesheet" href="../src/contact/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/1c59cf9cb0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="preloader"></div>
      <div class="navbar-container">
        <a href="../index.html"
          ><img src="../public/absenku-removebg-preview.png" alt="Absenku"
        /></a>
        <div class="navbar-list">
          <ul>
            <li><a href="../index.html">Beranda</a></li>
            <li><a href="/components/fiture.html">Fitur</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="">About</a></li>
          </ul>
        </div>
        <div class="button">
          <a class="button-1" href="./absen.html">Absen</a>
          <a class="button-2" href="./login.html">Masuk</a>
        </div>
      </div>
    </nav>
    <main id="home">
      <section class="contact-container">
        <div class="contact-content">
          <div class="contact-text">
            <p>contact</p>
            <h1>Get In Touch</h1>
            <h5>
              Praesent sapien lacus, molestie vitae arcu in, elementum congue
              justo. Aenean aliquam semper velit eu pretium. Suspendisse mattis
              luctus quam nec vehicula. Donec scelerisque tristique metus a
              vestibulum.
            </h5>
          </div>
          <div class="contact-form">
            <form action="#">
              <div class="form-group" for="Name">
                <input type="text" name="Name" placeholder="Nama Lengkap" />
              </div>
              <div class="form-group" for="email">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="form-group" for="message">
                <textarea
                  id="komentar"
                  name="komentar"
                  rows="7"
                  cols="50"
                  placeholder="Message"
                ></textarea>
              </div>
              <button>Submit</button>
            </form>
          </div>
        </div>
      </section>
      <section class="footer-container">
        <div class="footer-content">
          <h1>
            Join our mission. Volunteer, Donate, Advocate. Get Started Today.
          </h1>
          <div class="information">
            <p>
              Email:
              <a href="">sasakihaise985@gmail.com</a>
            </p>
            <p>
              No hp:
              <a href="wa.me/6281380817301">0813-8081-7301</a>
            </p>
          </div>
          <div class="button">
            <button class="button-1">Browser Campaigns</button>
            <button class="button-2">Get Involved</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>© 2022 Absenku. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </footer>
    <script src="../src/js/loader.js"></script>
  </body>
</html>
