<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absenku</title>
    <link rel="icon" href="../public/large-removebg-preview.png" />
    <link rel="stylesheet" href="../src/fiture/fiture.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/1c59cf9cb0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="preloader"></div>
      <div class="navbar-container">
        <a href="../index.html"
          ><img src="../public/absenku-removebg-preview.png" alt="Absenku"
        /></a>
        <div class="navbar-list">
          <ul>
            <li><a href="../index.html">Beranda</a></li>
            <li><a href="#">Fitur</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
          </ul>
        </div>
        <div class="button">
          <a class="button-1" href="">Absen</a>
          <a class="button-2" href="">Masuk</a>
        </div>
      </div>
    </nav>
    <main id="home">
      <section class="main-container">
        <div class="content-container">
          <div class="text-content">
            <p class="head">Absensi</p>
            <h1 class="center">Kelola <span>Absensi</span> Tanpa Ribet</h1>
            <p class="bottom">
              <span>Absensi</span> merupakan Website mahasiswa berbasis website.
              dapatkan laporan absensi mahasiswa dengan mudah
            </p>
            <button>Coba sekarang</button>
          </div>
          <div class="img-container">
            <img
              src="/public/dl.beatsnoop.com-high-5a43c2ab8ce0cc0545-removebg-preview.png"
              alt=""
            />
          </div>
        </div>
      </section>
      <section class="card-container">
        <div class="content-container">
          <div class="card-content">
            <div class="card1">
              <p>Browser Feature</p>
              <h1>Lihat Fitur apa saja yang kami sediakan</h1>
              <button>View Feature</button>
            </div>
            <div class="card2">
              <p>Join</p>
              <h1>Ingin menjadi pelanggan tetap?</h1>
              <button>Get In Touch</button>
            </div>
          </div>
        </div>
      </section>
      <section class="introduction-content">
        <div class="content">
          <div class="image">
            <img src="/public/attendance.png" alt="" />
          </div>
          <h1>Presensi/Absensi Digital</h1>
          <p>
            Mahasiswa bisa absen di lokasi yang telah disetujui melalui
            handphone. Cukup selfie, bebas terkontaminasi!
          </p>
        </div>
        <div class="content">
          <div class="image">
            <img src="/public/calendar.png" alt="" />
          </div>
          <h1>Client Visit</h1>
          <p>
            Tim sales dan karyawan lapangan mencatat jadwal kegiatan kunjungan
            klien secara real-time, semakin mudah pantau manajemen waktu
            karyawan.
          </p>
        </div>
        <div class="content">
          <div class="image">
            <img src="/public/attendance (1).png" alt="" />
          </div>
          <h1>Timesheet Online</h1>
          <p>
            Karyawan dapat mencatat daftar pekerjaan harian di handphone dan
            Anda dapat memantau produktivitas mereka.
          </p>
        </div>
      </section>
      <section class="info-container">
        <div class="content">
          <div>
            <h1>800K+</h1>
            <p>DOLLARS RAISED</p>
          </div>
          <div>
            <h1>89</h1>
            <p>VOLUNTEERS</p>
          </div>
          <div>
            <h1>12+</h1>
            <p>CITIES</p>
          </div>
          <div>
            <h1>250</h1>
            <p>STAFF</p>
          </div>
        </div>
      </section>
      <section class="contact-container">
        <div class="contact-content">
          <div class="contact-text">
            <p>contact</p>
            <h1>Contact us to get started</h1>
            <h5>
              Praesent sapien lacus, molestie vitae arcu in, elementum congue
              justo. Aenean aliquam semper velit eu pretium. Suspendisse mattis
              luctus quam nec vehicula. Donec scelerisque tristique metus a
              vestibulum.
            </h5>
          </div>
          <div class="contact-form">
            <form action="#">
              <div class="form-group" for="Name">
                <input type="text" name="Name" placeholder="Nama Lengkap" />
              </div>
              <div class="form-group" for="email">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="form-group" for="message">
                <textarea
                  id="komentar"
                  name="komentar"
                  rows="7"
                  cols="50"
                  placeholder="Message"
                ></textarea>
              </div>
              <button>Submit</button>
            </form>
          </div>
        </div>
      </section>
      <section class="footer-container">
        <div class="footer-content">
          <h1>
            Join our mission. Volunteer, Donate, Advocate. Get Started Today.
          </h1>
          <div class="information">
            <p>
              Email:
              <a href="">sasakihaise985@gmail.com</a>
            </p>
            <p>
              No hp:
              <a href="wa.me/6281380817301">0813-8081-7301</a>
            </p>
          </div>
          <div class="button">
            <button class="button-1">Browser Campaigns</button>
            <button class="button-2">Get Involved</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>© 2022 Absenku. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </footer>
    <script src="../src/js/loader.js"></script>
  </body>
</html>
