<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absenku-login</title>
    <link rel="icon" href="../public/large-removebg-preview.png" />
    <link rel="stylesheet" href="../src/login/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/1c59cf9cb0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="login-container">
        <h1>Login</h1>
      <form action="#" method="POST">
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input
            type="email"
            name="Email"
            placeholder="Email@gmail.com"
            required
          />
        </div>
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="submit-container">
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
  </body>
</html>
